In [2]:
import pandas as pd 
import numpy  as np
import matplotlib.pyplot as plt

In [3]:
bank_data = pd.read_csv("C:/Users/jsdha/Videos/phyton/eict python practise/bank_data.csv")

In [4]:
bank_data.head()

,age,default,balance,housing,loan,duration,campaign,pdays,previous,poutfailure,...,johousemaid,jomanagement,joretired,joself.employed,joservices,jostudent,jotechnician,jounemployed,jounknown,y
0,58,0,2143,1,0,261,1,-1,0,0,...,0,1,0,0,0,0,0,0,0,0
1,44,0,29,1,0,151,1,-1,0,0,...,0,0,0,0,0,0,1,0,0,0
2,33,0,2,1,1,76,1,-1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,47,0,1506,1,0,92,1,-1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,33,0,1,0,0,198,1,-1,0,0,...,0,0,0,0,0,0,0,0,1,0

In [7]:
bank_data.shape

(45211, 32)

In [5]:
bank_data.isnull().sum()

age                0
default            0
balance            0
housing            0
loan               0
duration           0
campaign           0
pdays              0
previous           0
poutfailure        0
poutother          0
poutsuccess        0
poutunknown        0
con_cellular       0
con_telephone      0
con_unknown        0
divorced           0
married            0
single             0
joadmin.           0
joblue.collar      0
joentrepreneur     0
johousemaid        0
jomanagement       0
joretired          0
joself.employed    0
joservices         0
jostudent          0
jotechnician       0
jounemployed       0
jounknown          0
y                  0
dtype: int64

**data is clean ,i.e, no missing values.**

# Data preprocessing

In [6]:
from sklearn.model_selection import train_test_split

train,test = train_test_split(bank_data,test_size=0.2)
train

,age,default,balance,housing,loan,duration,campaign,pdays,previous,poutfailure,...,johousemaid,jomanagement,joretired,joself.employed,joservices,jostudent,jotechnician,jounemployed,jounknown,y
26781,30,0,186,1,0,235,3,-1,0,0,...,0,1,0,0,0,0,0,0,0,0
32465,44,0,38,1,0,201,2,330,8,0,...,0,1,0,0,0,0,0,0,0,0
12613,26,0,-401,1,1,246,1,-1,0,0,...,0,0,0,0,0,0,0,0,0,0
31205,28,0,356,0,0,76,2,-1,0,0,...,0,0,0,0,0,0,1,0,0,0
37706,28,0,-504,1,1,578,1,-1,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5608,36,0,111,1,0,163,3,-1,0,0,...,0,0,0,0,0,0,0,0,0,0
30489,41,0,0,0,0,532,2,-1,0,0,...,0,0,0,0,0,0,0,1,0,0
32580,34,0,-126,1,0,292,2,-1,0,0,...,0,0,0,0,0,0,1,0,0,0
18904,57,0,999,0,0,68,1,-1,0,0,...,0,0,0,0,0,0,0,0,0,0
16920,35,0,1723,1,0,862,1,-1,0,0,...,0,1,0,0,0,0,0,0,0,1

In [62]:
x_train=train.iloc[:,:31 ]
y_train=train.iloc[:,31]

In [14]:
x_test=test.iloc[:,:31 ]
y_test=test.iloc[:,31]

In [15]:
import statsmodels.api as sm

In [16]:
x1=sm.add_constant(x_train)
logit_model=sm.Logit(y_train,x_train).fit()
logit_model.summary()

Optimization terminated successfully.
         Current function value: 0.249621
         Iterations 8

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                36168
Model:                          Logit   Df Residuals:                    36140
Method:                           MLE   Df Model:                           27
Date:                Sun, 30 May 2021   Pseudo R-squ.:                  0.3076
Time:                        14:53:50   Log-Likelihood:                -9028.3
converged:                       True   LL-Null:                       -13040.
Covariance Type:            nonrobust   LLR p-value:                     0.000
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
age                 0.0007      0.002      0.289      0.772      -0.004       0.005
default            -0.1238      0.174     -0.710      0.478      -0.465       0.218
balance          1.468e-05   5.41e-06      2.715      0.007    4.08e-06    2.53e-05
housing            -0.7948      0.044    -17.877      0.000      -0.882      -0.708
loan               -0.6049      0.065     -9.251      0.000      -0.733      -0.477
duration            0.0041   7.02e-05     57.929      0.000       0.004       0.004
campaign           -0.0997      0.011     -9.119      0.000      -0.121      -0.078
pdays           -3.094e-05      0.000     -0.091      0.928      -0.001       0.001
previous            0.0102      0.007      1.512      0.130      -0.003       0.023
poutfailure         4.2607   1.09e+06   3.92e-06      1.000   -2.13e+06    2.13e+06
poutother           4.5443   1.09e+06   4.17e-06      1.000   -2.14e+06    2.14e+06
poutsuccess         6.5668   1.09e+06   6.04e-06      1.000   -2.13e+06    2.13e+06
poutunknown         3.9765   1.09e+06   3.65e-06      1.000   -2.13e+06    2.13e+06
con_cellular       -5.7684   1.09e+06  -5.29e-06      1.000   -2.14e+06    2.14e+06
con_telephone      -5.8669   1.09e+06  -5.39e-06      1.000   -2.13e+06    2.13e+06
con_unknown        -6.9511   1.09e+06  -6.38e-06      1.000   -2.13e+06    2.13e+06
divorced           -0.7824   1.56e+06  -5.01e-07      1.000   -3.06e+06    3.06e+06
married            -0.9390   1.56e+06  -6.01e-07      1.000   -3.06e+06    3.06e+06
single             -0.6072   1.56e+06  -3.89e-07      1.000   -3.06e+06    3.06e+06
joadmin.            0.0006   1.82e+06   3.16e-10      1.000   -3.56e+06    3.56e+06
joblue.collar      -0.4773   1.82e+06  -2.63e-07      1.000   -3.56e+06    3.56e+06
joentrepreneur     -0.4230   1.82e+06  -2.33e-07      1.000   -3.56e+06    3.56e+06
johousemaid        -0.6222   1.82e+06  -3.43e-07      1.000   -3.56e+06    3.56e+06
jomanagement       -0.0974   1.82e+06  -5.37e-08      1.000   -3.56e+06    3.56e+06
joretired           0.2811   1.82e+06   1.55e-07      1.000   -3.56e+06    3.56e+06
joself.employed    -0.2185   1.82e+06   -1.2e-07      1.000   -3.56e+06    3.56e+06
joservices         -0.3279   1.82e+06  -1.81e-07      1.000   -3.56e+06    3.56e+06
jostudent           0.4297   1.82e+06   2.37e-07      1.000   -3.56e+06    3.56e+06
jotechnician       -0.2452   1.82e+06  -1.35e-07      1.000   -3.56e+06    3.56e+06
jounemployed       -0.2447   1.82e+06  -1.35e-07      1.000   -3.56e+06    3.56e+06
jounknown          -0.3836   1.82e+06  -2.11e-07      1.000   -3.56e+06    3.56e+06
===================================================================================
"""

In [17]:
#predicting for train values
log_train_pred_value=logit_model.predict(x_train)
log_train_pred_value

26781    0.068424
32465    0.080631
12613    0.012131
31205    0.075156
37706    0.153126
           ...
5608     0.008201
30489    0.272310
32580    0.059468
18904    0.075886
16920    0.497292
Length: 36168, dtype: float64

In [18]:
np.set_printoptions(formatter={'float': lambda x: "{0:0.2f}".format(x)})

round(log_train_pred_value)

26781    0.0
32465    0.0
12613    0.0
31205    0.0
37706    0.0
        ...
5608     0.0
30489    0.0
32580    0.0
18904    0.0
16920    0.0
Length: 36168, dtype: float64

In [19]:
train['Log_pred_value']=round(log_train_pred_value)
train

<ipython-input-19-2c7016099d77>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['Log_pred_value']=round(log_train_pred_value)

,age,default,balance,housing,loan,duration,campaign,pdays,previous,poutfailure,...,jomanagement,joretired,joself.employed,joservices,jostudent,jotechnician,jounemployed,jounknown,y,Log_pred_value
26781,30,0,186,1,0,235,3,-1,0,0,...,1,0,0,0,0,0,0,0,0,0.0
32465,44,0,38,1,0,201,2,330,8,0,...,1,0,0,0,0,0,0,0,0,0.0
12613,26,0,-401,1,1,246,1,-1,0,0,...,0,0,0,0,0,0,0,0,0,0.0
31205,28,0,356,0,0,76,2,-1,0,0,...,0,0,0,0,0,1,0,0,0,0.0
37706,28,0,-504,1,1,578,1,-1,0,0,...,0,0,0,0,0,0,0,0,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5608,36,0,111,1,0,163,3,-1,0,0,...,0,0,0,0,0,0,0,0,0,0.0
30489,41,0,0,0,0,532,2,-1,0,0,...,0,0,0,0,0,0,1,0,0,0.0
32580,34,0,-126,1,0,292,2,-1,0,0,...,0,0,0,0,0,1,0,0,0,0.0
18904,57,0,999,0,0,68,1,-1,0,0,...,0,0,0,0,0,0,0,0,0,0.0
16920,35,0,1723,1,0,862,1,-1,0,0,...,1,0,0,0,0,0,0,0,1,0.0

In [21]:
confusion_matrix = pd.crosstab(train['y'],train.Log_pred_value)
confusion_matrix

Log_pred_value    0.0   1.0
y
0               31214   729
1                2855  1370

In [22]:
log_train_accuracy=(31214+1370)/(31214+729+2855+1370)
print(str(log_train_accuracy*100)+' %')

90.09068790090687 %

In [23]:
#predicting for test values
log_test_pred_value=logit_model.predict(x_test)
log_test_pred_value

43283    0.134913
28306    0.066958
33780    0.094267
17509    0.016820
29973    0.010690
           ...
13707    0.025933
16873    0.076256
9362     0.003619
8934     0.006653
42074    0.075070
Length: 9043, dtype: float64

In [24]:
round(log_test_pred_value)

43283    0.0
28306    0.0
33780    0.0
17509    0.0
29973    0.0
        ...
13707    0.0
16873    0.0
9362     0.0
8934     0.0
42074    0.0
Length: 9043, dtype: float64

In [26]:
test['Log_pred_value']=round(log_test_pred_value)
test

<ipython-input-26-62b5f866b0d9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['Log_pred_value']=round(log_test_pred_value)

,age,default,balance,housing,loan,duration,campaign,pdays,previous,poutfailure,...,jomanagement,joretired,joself.employed,joservices,jostudent,jotechnician,jounemployed,jounknown,y,Log_pred_value
43283,61,0,4608,0,0,212,1,-1,0,0,...,0,0,0,0,0,0,0,0,1,0.0
28306,29,0,2768,1,0,69,1,241,4,1,...,0,0,0,0,0,0,0,0,0,0.0
33780,76,0,1780,1,0,413,3,-1,0,0,...,1,0,0,0,0,0,0,0,1,0.0
17509,37,0,3,1,0,88,6,-1,0,0,...,0,0,0,1,0,0,0,0,0,0.0
29973,51,0,618,1,1,69,1,-1,0,0,...,0,0,0,0,0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13707,32,0,1,1,1,143,1,-1,0,0,...,0,0,0,0,0,0,0,0,0,0.0
16873,36,0,14,1,0,320,3,-1,0,0,...,0,0,0,1,0,0,0,0,0,0.0
9362,38,0,292,1,1,84,2,-1,0,0,...,0,0,0,0,0,0,0,0,0,0.0
8934,39,0,1577,1,0,282,15,-1,0,0,...,0,0,0,0,0,0,0,0,0,0.0
42074,84,0,1791,0,0,62,3,-1,0,0,...,0,1,0,0,0,0,0,0,0,0.0

In [27]:
confusion_matrix = pd.crosstab(test['y'],test.Log_pred_value)
confusion_matrix

Log_pred_value   0.0  1.0
y
0               7788  191
1                718  346

In [28]:
log_test_accuracy=(7788+346)/(7788+191+718+346)
print(str(log_test_accuracy*100)+' %')

89.94802609753401 %

In [29]:
Accuracy=[['Logit_model',90.09,89.94]]

# KNN

In [30]:
from sklearn.neighbors import KNeighborsClassifier as KNC

In [31]:
# for 3 nearest neighbours 
neigh = KNC(n_neighbors= 3)
neigh.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [32]:
knn_train_pred_value=neigh.predict(x_train)
knn_train_pred_value

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

In [33]:
train['KNN_pred_value']=knn_train_pred_value
train

<ipython-input-33-4570c51acc67>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['KNN_pred_value']=knn_train_pred_value

,age,default,balance,housing,loan,duration,campaign,pdays,previous,poutfailure,...,joretired,joself.employed,joservices,jostudent,jotechnician,jounemployed,jounknown,y,Log_pred_value,KNN_pred_value
26781,30,0,186,1,0,235,3,-1,0,0,...,0,0,0,0,0,0,0,0,0.0,0
32465,44,0,38,1,0,201,2,330,8,0,...,0,0,0,0,0,0,0,0,0.0,0
12613,26,0,-401,1,1,246,1,-1,0,0,...,0,0,0,0,0,0,0,0,0.0,0
31205,28,0,356,0,0,76,2,-1,0,0,...,0,0,0,0,1,0,0,0,0.0,0
37706,28,0,-504,1,1,578,1,-1,0,0,...,0,0,0,0,0,0,0,1,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5608,36,0,111,1,0,163,3,-1,0,0,...,0,0,0,0,0,0,0,0,0.0,0
30489,41,0,0,0,0,532,2,-1,0,0,...,0,0,0,0,0,1,0,0,0.0,1
32580,34,0,-126,1,0,292,2,-1,0,0,...,0,0,0,0,1,0,0,0,0.0,0
18904,57,0,999,0,0,68,1,-1,0,0,...,0,0,0,0,0,0,0,0,0.0,0
16920,35,0,1723,1,0,862,1,-1,0,0,...,0,0,0,0,0,0,0,1,0.0,1

In [34]:
confusion_matrix = pd.crosstab(train['y'],train.KNN_pred_value)
confusion_matrix

KNN_pred_value      0     1
y
0               31265   678
1                2074  2151

In [35]:
knn_train_accuracy=(31265+2151)/(31265+678+2074+2151)
print(str(knn_train_accuracy*100)+' %')

92.39106392391065 %

In [36]:
knn_test_pred_value=neigh.predict(x_test)
knn_test_pred_value

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [37]:
test['KNN_pred_value']=knn_test_pred_value
test

<ipython-input-37-b49bb1a211c7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['KNN_pred_value']=knn_test_pred_value

,age,default,balance,housing,loan,duration,campaign,pdays,previous,poutfailure,...,joretired,joself.employed,joservices,jostudent,jotechnician,jounemployed,jounknown,y,Log_pred_value,KNN_pred_value
43283,61,0,4608,0,0,212,1,-1,0,0,...,0,0,0,0,0,0,0,1,0.0,0
28306,29,0,2768,1,0,69,1,241,4,1,...,0,0,0,0,0,0,0,0,0.0,0
33780,76,0,1780,1,0,413,3,-1,0,0,...,0,0,0,0,0,0,0,1,0.0,0
17509,37,0,3,1,0,88,6,-1,0,0,...,0,0,1,0,0,0,0,0,0.0,0
29973,51,0,618,1,1,69,1,-1,0,0,...,0,0,0,0,0,0,0,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13707,32,0,1,1,1,143,1,-1,0,0,...,0,0,0,0,0,0,0,0,0.0,0
16873,36,0,14,1,0,320,3,-1,0,0,...,0,0,1,0,0,0,0,0,0.0,0
9362,38,0,292,1,1,84,2,-1,0,0,...,0,0,0,0,0,0,0,0,0.0,0
8934,39,0,1577,1,0,282,15,-1,0,0,...,0,0,0,0,0,0,0,0,0.0,0
42074,84,0,1791,0,0,62,3,-1,0,0,...,1,0,0,0,0,0,0,0,0.0,0

In [38]:
confusion_matrix = pd.crosstab(test['y'],test.KNN_pred_value)
confusion_matrix

KNN_pred_value     0    1
y
0               7614  365
1                755  309

In [39]:
knn_test_accuracy=(7614+309)/(7614+365+755+309)
print(str(knn_test_accuracy*100)+' %')

87.61472962512441 %

In [47]:
Accuracy=[['Logit_model',90.09,89.94],['KNN_model',92.39,87.61]]

# Naive Bayes

In [40]:
from sklearn.naive_bayes import GaussianNB as GB

In [41]:
classifier_gb = GB()
classifier_gb.fit(x_train,y_train)

GaussianNB()

In [42]:
GB_train_pred_value = classifier_gb.predict(x_train)
GB_train_pred_value

array([0, 1, 0, ..., 0, 0, 1], dtype=int64)

In [43]:
train['NB_pred_value']=GB_train_pred_value
train

<ipython-input-43-8dd8a92fd4f0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['NB_pred_value']=GB_train_pred_value

,age,default,balance,housing,loan,duration,campaign,pdays,previous,poutfailure,...,joself.employed,joservices,jostudent,jotechnician,jounemployed,jounknown,y,Log_pred_value,KNN_pred_value,NB_pred_value
26781,30,0,186,1,0,235,3,-1,0,0,...,0,0,0,0,0,0,0,0.0,0,0
32465,44,0,38,1,0,201,2,330,8,0,...,0,0,0,0,0,0,0,0.0,0,1
12613,26,0,-401,1,1,246,1,-1,0,0,...,0,0,0,0,0,0,0,0.0,0,0
31205,28,0,356,0,0,76,2,-1,0,0,...,0,0,0,1,0,0,0,0.0,0,0
37706,28,0,-504,1,1,578,1,-1,0,0,...,0,0,0,0,0,0,1,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5608,36,0,111,1,0,163,3,-1,0,0,...,0,0,0,0,0,0,0,0.0,0,0
30489,41,0,0,0,0,532,2,-1,0,0,...,0,0,0,0,1,0,0,0.0,1,1
32580,34,0,-126,1,0,292,2,-1,0,0,...,0,0,0,1,0,0,0,0.0,0,0
18904,57,0,999,0,0,68,1,-1,0,0,...,0,0,0,0,0,0,0,0.0,0,0
16920,35,0,1723,1,0,862,1,-1,0,0,...,0,0,0,0,0,0,1,0.0,1,1

In [44]:
confusion_matrix = pd.crosstab(train['y'],train.NB_pred_value)
confusion_matrix

NB_pred_value      0     1
y
0              27879  4064
1               1970  2255

In [45]:
NB_train_accuracy=(27879+2255)/(27879+4064+1970+2255)
print(str(NB_train_accuracy*100)+' %')

83.31674408316744 %

In [46]:
GB_test_pred_value = classifier_gb.predict(x_test)
GB_test_pred_value

array([0, 1, 0, ..., 0, 0, 1], dtype=int64)

In [47]:
test['NB_pred_value']=GB_test_pred_value
test

<ipython-input-47-624f41bd2d4a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['NB_pred_value']=GB_test_pred_value

,age,default,balance,housing,loan,duration,campaign,pdays,previous,poutfailure,...,joself.employed,joservices,jostudent,jotechnician,jounemployed,jounknown,y,Log_pred_value,KNN_pred_value,NB_pred_value
43283,61,0,4608,0,0,212,1,-1,0,0,...,0,0,0,0,0,0,1,0.0,0,0
28306,29,0,2768,1,0,69,1,241,4,1,...,0,0,0,0,0,0,0,0.0,0,1
33780,76,0,1780,1,0,413,3,-1,0,0,...,0,0,0,0,0,0,1,0.0,0,0
17509,37,0,3,1,0,88,6,-1,0,0,...,0,1,0,0,0,0,0,0.0,0,0
29973,51,0,618,1,1,69,1,-1,0,0,...,0,0,0,0,0,0,0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13707,32,0,1,1,1,143,1,-1,0,0,...,0,0,0,0,0,0,0,0.0,0,0
16873,36,0,14,1,0,320,3,-1,0,0,...,0,1,0,0,0,0,0,0.0,0,0
9362,38,0,292,1,1,84,2,-1,0,0,...,0,0,0,0,0,0,0,0.0,0,0
8934,39,0,1577,1,0,282,15,-1,0,0,...,0,0,0,0,0,0,0,0.0,0,0
42074,84,0,1791,0,0,62,3,-1,0,0,...,0,0,0,0,0,0,0,0.0,0,1

In [48]:
confusion_matrix = pd.crosstab(test['y'],test.NB_pred_value)
confusion_matrix

NB_pred_value     0     1
y
0              6936  1043
1               502   562

In [49]:
NB_test_accuracy=(6939+562)/(6936+1043+502+562)
print(str(NB_test_accuracy*100)+' %')

82.94813668030521 %

In [58]:
Accuracy=[['Logit_model',90.09,89.94],['KNN_model',92.39,87.61],['Naive_bayes_model',83.31,82.94]]

# Decision tree

In [50]:
from sklearn.tree import  DecisionTreeClassifier

In [51]:
DT_model = DecisionTreeClassifier(criterion = 'entropy')
DT_model.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy')

In [52]:
DT_train_pred_value = DT_model.predict(x_train)
DT_train_pred_value

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

In [53]:
train['DT_pred_value']=DT_train_pred_value
train

<ipython-input-53-54d2c68f74c6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['DT_pred_value']=DT_train_pred_value

,age,default,balance,housing,loan,duration,campaign,pdays,previous,poutfailure,...,joservices,jostudent,jotechnician,jounemployed,jounknown,y,Log_pred_value,KNN_pred_value,NB_pred_value,DT_pred_value
26781,30,0,186,1,0,235,3,-1,0,0,...,0,0,0,0,0,0,0.0,0,0,0
32465,44,0,38,1,0,201,2,330,8,0,...,0,0,0,0,0,0,0.0,0,1,0
12613,26,0,-401,1,1,246,1,-1,0,0,...,0,0,0,0,0,0,0.0,0,0,0
31205,28,0,356,0,0,76,2,-1,0,0,...,0,0,1,0,0,0,0.0,0,0,0
37706,28,0,-504,1,1,578,1,-1,0,0,...,0,0,0,0,0,1,0.0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5608,36,0,111,1,0,163,3,-1,0,0,...,0,0,0,0,0,0,0.0,0,0,0
30489,41,0,0,0,0,532,2,-1,0,0,...,0,0,0,1,0,0,0.0,1,1,0
32580,34,0,-126,1,0,292,2,-1,0,0,...,0,0,1,0,0,0,0.0,0,0,0
18904,57,0,999,0,0,68,1,-1,0,0,...,0,0,0,0,0,0,0.0,0,0,0
16920,35,0,1723,1,0,862,1,-1,0,0,...,0,0,0,0,0,1,0.0,1,1,1

In [54]:
confusion_matrix = pd.crosstab(train['y'],train.DT_pred_value)
confusion_matrix

DT_pred_value      0     1
y
0              31943     0
1                  0  4225

In [55]:
DT_train_accuracy=(31943+4225)/(31943+4225)
print(str(DT_train_accuracy*100)+' %')

100.0 %

In [56]:
DT_test_pred_value = DT_model.predict(x_test)
DT_test_pred_value

array([1, 0, 1, ..., 0, 0, 0], dtype=int64)

In [57]:
test['DT_pred_value']=DT_test_pred_value
test

<ipython-input-57-f11bd7547721>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['DT_pred_value']=DT_test_pred_value

,age,default,balance,housing,loan,duration,campaign,pdays,previous,poutfailure,...,joservices,jostudent,jotechnician,jounemployed,jounknown,y,Log_pred_value,KNN_pred_value,NB_pred_value,DT_pred_value
43283,61,0,4608,0,0,212,1,-1,0,0,...,0,0,0,0,0,1,0.0,0,0,1
28306,29,0,2768,1,0,69,1,241,4,1,...,0,0,0,0,0,0,0.0,0,1,0
33780,76,0,1780,1,0,413,3,-1,0,0,...,0,0,0,0,0,1,0.0,0,0,1
17509,37,0,3,1,0,88,6,-1,0,0,...,1,0,0,0,0,0,0.0,0,0,0
29973,51,0,618,1,1,69,1,-1,0,0,...,0,0,0,0,0,0,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13707,32,0,1,1,1,143,1,-1,0,0,...,0,0,0,0,0,0,0.0,0,0,0
16873,36,0,14,1,0,320,3,-1,0,0,...,1,0,0,0,0,0,0.0,0,0,0
9362,38,0,292,1,1,84,2,-1,0,0,...,0,0,0,0,0,0,0.0,0,0,0
8934,39,0,1577,1,0,282,15,-1,0,0,...,0,0,0,0,0,0,0.0,0,0,0
42074,84,0,1791,0,0,62,3,-1,0,0,...,0,0,0,0,0,0,0.0,0,1,0

In [58]:
confusion_matrix = pd.crosstab(test['y'],test.DT_pred_value)
confusion_matrix

DT_pred_value     0    1
y
0              7397  582
1               617  447

In [59]:
DT_test_accuracy=(7397+447)/(7397+582+617+447)
print(str(DT_test_accuracy*100)+' %')

86.74112573261085 %

In [60]:
Accuracy=[['Logit_model',90.09,89.94],['KNN_model',92.39,87.61],['Naive_bayes_model',83.31,82.94],['Decision_tree_model',100,86.74]]

# Comparing all the classifications

In [61]:
df=pd.DataFrame(Accuracy,columns=['Model Name','Train accuracy','Test accuracy '])
df

            Model Name  Train accuracy  Test accuracy
0          Logit_model           90.09           89.94
1            KNN_model           92.39           87.61
2    Naive_bayes_model           83.31           82.94
3  Decision_tree_model          100.00           86.74

**since test accuracy is highest for logit model, and deviation b/w train and test is also low**

**it will be considered the best model**